.LastPart{
    display: flex;
    border-top: 1px solid white;
    color: white;
    height: 50px;
    font-size: 13px;
    
}
.copyright{
    display: flex;
    justify-content: flex-start;
    color: white;
    width: 50%;
    height: 100%;
    
}
.terms-of-use {
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 50%;
    height: 100%;
}
.copy-right{
    margin-top: 15px;
}