.bg-image {
 width: 100%;
 height: 100vh;
 background-image: url(./todaayyy.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.header {
    position: absolute;
    top: 20vh;
    width: 100%;
}