.home-Intro{
    background-color: #28a745;
    width: 100vw;
}

.title-intro{
    display: flex;
    justify-content: center;
}
#card{
    display: flex;;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 70px;
}
#text{
    display: flex;
    padding-top: 40px;
}