.about-body{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    padding-top: 150px;
    margin-left: 25px;
}
.body{
    display: flex;
    width: 70vh;
    margin-left: 25px;
}
.footer{
    padding-left: 100px;
}
.Info{
    display: flex;
    text-align: center;
    flex-direction: column;
}