.home-footer {
    background-image: url(./footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
 
    
}


.cardFooter{

    display: flex;
    justify-content: center;
    opacity: 0,9;
}


.bodyFooter{
  
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 10px;
  
}








