.jobs-header {
  height: 150px;
  background-image: url(./header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.job-header {
  display: flex;
  justify-content: center;
  position: relative;
  top: 65px;
  border-width: 1px;
  border-radius: 7px;
  height: 70px;
  width: 700px;
  background-color: white;
  overflow: hidden;
}

.jobs-location-input {
  border: none;
  background-color: transparent;
  border-left: 3px solid rgb(0, 187, 115);
}

.jobs-location-input::placeholder {
  text-align: center;
  color: black;
  opacity: 0.2;
  font-size: 19px;
}

.jobs-title-input {
  border-right-color: #2C3A69;
  border: none;
  background-color: transparent;
  margin-right: 20px;

}

.jobs-title-input::placeholder {
  text-align: center;
  color: black;
  opacity: 0.2;
  font-size: 19px;
}

.header-input-jobs:focus {
  outline: none;
}

.searchButton {
  width: 150px;
  height: 50px;
  background-color: #2C3A69;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;

}