.jobs-header {
    height: 150px;
    background-image: url(./header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
   
}
.job-header{
  display: flex;
  justify-content: center;
  position: relative;
  top: 52px;
  border-width: 1px;
  border-radius: 15px;
  height: 80px;
  width: 38vw;
  background-color: white; 
}
.header-input-jobs{
  border: none;

}
.green-line{
  width: 2px;
  height: 100%;
  background-color: black;
}
.header-input-jobs:focus{
  outline: none;
}
.button-jobs{
  position: relative;
  border-width: 1px;
  border-radius: 15px;
}