

  #filter{
    border: 2px solid grey;
    padding: 10px;
    margin: 0px;
    border-radius: 1px 1px 15px 15px;
  }
.add-Button button{
  border-radius: 9px;

} 

  .JobTypeAndCategory {
    display: flex;
    padding-left: 60px;

  }

  .DropdownToggleCategory {
    margin-left: 10px;

  }

 
 #firtsButtonFilter {
  background-color: #ce74a6; 
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  } 

  #secondButtonFilter {
    background-color: blue; 
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    } 

    #thirdButtonFilter {
      background-color: #6aefaf; 
      border-radius: 7px;
      text-align: center;
      display: inline-block;
      } 
  

 .SaveButton {
  background-color:blue; 
  border-radius: 7px;
  display: inline-block;
  text-align: right;
  margin-left: 180px;

} 

  