.skills-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.skill-section {
    width: 65%;

}

.filter-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.jobType-section {
    display: flex;

    width: 35%;
}