.home-footer {
    background-image: url(./footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}
#Subscribe{
    display: flex;
    padding-top: 200px;
    padding-left: 110px;
    color: white;
}
.home-footer2{
    display: flex;
    margin-left: 100px;
    padding-left: 20px;
    border-radius: 15px;
    height: 50px;
    width: 25vw;
    background-color: white; 
}
.input-footer{
    border: none;
}
.input-footer:focus{
    outline: none;
} 
.footer-list {
      flex-direction: column;
      text-decoration: none;
      list-style: none;
}
.footer-list > li {
    text-align: flex-start;
    padding-bottom: 10px;
    margin-left: 10px;
 }
.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin-left: 80px;
    margin-top: 20px;
}
.footer-list1 {
    color: #fff;
    font: 2.3vw "Oswald", sans-serif
}
.LastPart{
    display: flex;
    border-top: 1px solid white;
    height: 50px;
    font-size: 13px;
    margin-top: 67px;
}
.copyright{
    display: flex;
    justify-content: flex-start;
    color: black;
    width: 50%;
    height: 100%;
    padding-bottom: 10px;
}